<launch>
 <arg name="record" default="false"/>

 <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
      <arg name="world_file" value="$(find turtlebot_gazebo)/worlds/corridor.world"/>
 </include>
 <node pkg="modturtlebot" type="modturtlebot" name="turtlebot"/>

 <node pkg="rosbag" 
  type="record" 
  name="rosbagAllTopics"  
  args="-a --output-name=$(find modturtlebot)/results/record -x /camera/(.*) --duration=20"
  if="$(eval record)"
  />

</launch>
